In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("D:\data science projects\Datasets\world-data-2023.csv")

In [78]:
df.shape

(195, 35)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               194 non-null    float64
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          194 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    object
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   194 non-null    float64
 34  Longitude                                  194 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB

In [80]:
df.isna().sum()

Country                                       0
Density\n(P/Km2)                              0
Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             1
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

OUR CASE STUDY IS "Analyze healthcare metrics such as infant mortality and life expectancy to assess overall well-being"

In [81]:
columns_needed=['Country', 'Infant mortality', 'Life expectancy', 'Population','Physicians per thousand', 'Out of pocket health expenditure','Maternal mortality ratio', 'Urban_population']

In [96]:
df=df[columns_needed]
df.to_excel('D:\data science projects\Datasets\selected-world-data-2023.xlsx', index=False, header=True)
df

,Country,Infant mortality,Life expectancy,Population,Physicians per thousand,Out of pocket health expenditure,Maternal mortality ratio,Urban_population
0,Afghanistan,47.9,64.5,"38,041,754",0.28,78.40%,638.0,"9,797,273"
1,Albania,7.8,78.5,"2,854,191",1.20,56.90%,15.0,"1,747,593"
2,Algeria,20.1,76.7,"43,053,054",1.72,28.10%,112.0,"31,510,100"
4,Angola,51.6,60.8,"31,825,295",0.21,33.40%,241.0,"21,061,025"
5,Antigua and Barbuda,5.0,76.9,"97,118",2.76,24.30%,42.0,"23,800"
...,...,...,...,...,...,...,...,...
190,Venezuela,21.4,72.1,"28,515,829",1.92,45.80%,125.0,"25,162,368"
191,Vietnam,16.5,75.3,"96,462,106",0.82,43.50%,43.0,"35,332,140"
192,Yemen,42.9,66.1,"29,161,922",0.31,81.00%,164.0,"10,869,523"
193,Zambia,40.4,63.5,"17,861,030",1.19,27.50%,213.0,"7,871,713"
194,Zimbabwe,33.9,61.2,"14,645,468",0.21,25.80%,458.0,"4,717,305"

In [83]:
df.columns

Index(['Country', 'Infant mortality', 'Life expectancy', 'Population',
       'Physicians per thousand', 'Out of pocket health expenditure',
       'Maternal mortality ratio', 'Urban_population'],
      dtype='object')

In [84]:
df.isna().sum()

Country                              0
Infant mortality                     6
Life expectancy                      8
Population                           1
Physicians per thousand              7
Out of pocket health expenditure     7
Maternal mortality ratio            14
Urban_population                     5
dtype: int64

In [85]:
df=df.drop_duplicates()

In [86]:
df.shape

(195, 8)

In [87]:
df.loc[150]

Country                             S�����������
Infant mortality                            24.4
Life expectancy                             70.2
Population                               215,056
Physicians per thousand                     0.05
Out of pocket health expenditure          11.70%
Maternal mortality ratio                   130.0
Urban_population                         158,277
Name: 150, dtype: object

In [95]:
df=df.drop(150)

In [88]:
df=df.dropna()

In [89]:
df.to_excel('D:\data science projects\Datasets\cleanded-world-data-2023.xlsx', index=False, header=True)

In [97]:
df.shape

(176, 8)